@use "variables" as *;

.app-container {
  min-height: 100vh;
  background: #f7f9fb;
}

.app-content {
  display: flex;
  justify-content: center;
  margin: $spacing-lg 0;
}

.app-body {
  max-width: 900px;
  margin: 0 auto;
  padding: $spacing-lg;
}
